<link href="~/Content/sachStyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<ul class="container">
    <div class="row">
        <div>@ViewBag.numOfBook</div>
        @{
            foreach (var sach in ViewBag.listSach)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item-book-container">
                    <a href="@Url.Action("ChiTiet", "Sach", new { @maSach = sach.getMaSach() })">
                        <img src="@Url.Content("~/images/" + sach.getHinhAnh())" alt=""
                             class="item-book-img" />
                        <div>@sach.getTenSach()</div>
                        <div> @String.Format("{0:0,0}", (@sach.getGiaBan() * (100 - @sach.getKhuyenMai())) / 100) VNĐ</div>
                    </a>
                </div>} }
    </div>

    <ul class="pagination">
        @{
            int pages = ViewBag.numOfBook / 24;
            int currentPage = ViewBag.currentPage;
            if (ViewBag.numOfBook % 24 > 0) { pages++; }
            for (int i = 1; i <= pages; i++)
            {
                if (i == currentPage)
                {
                    <li class="active">
                        <a href="@Url.Action("ListSach", "Sach", new { @page = i})">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("ListSach", "Sach", new { @page = i})">@i</a>
                    </li>
                }

            }
        }
    </ul>

