<link href="~/Content/sachStyle.css" rel="stylesheet" />

<ul class="listbook-container">
    @{
        int i = 0;
        foreach (var sach in ViewBag.listSach)
        {

            <div class="item-book-container">
                <a href="@Url.Action("ChiTiet", "Sach", new { @maSach = sach.getMaSach() })">
                    <img src="@Url.Content("~/images/" + sach.getHinhAnh())" alt="" 
                         class="item-book-img"/>
                    <div>@sach.getTenSach()</div>
                    <div> @String.Format("{0:0,0}", (@sach.getGiaBan() * (100 - @sach.getKhuyenMai())) / 100) VNĐ</div>
                </a>
            </div>} }
</ul>
