@using Tutorial.Models
<html>
<head>
    <title>Thông tin giỏ hàng</title>
</head>
<body>
    @{
        Cart cart = (Cart)Session["cart"];
        int tongTienThanhToan = 0;
    }
    <table>
        <tr>
            <th>Tên sách</th>
            <th>Hình ảnh</th>
            <th>Số lượng mua</th>
            <th>Tổng tiền</th>
        </tr>
        @foreach (Item item in cart.getCartItems().Values)
        {
            int tienSauKhuyenMai = item.getSach().getGiaBan() * (100 - item.getSach().getKhuyenMai()) / 100;
            int tongTien = item.getSoLuongBan() * tienSauKhuyenMai;
            tongTienThanhToan += tongTien;
            <tr>
                <td>@item.getSach().getTenSach()</td>
                <td><img src="@Url.Content("~/images/"+item.getSach().getHinhAnh())" style="width:60px;height:80px" /></td>
                <td>@item.getSoLuongBan()</td>
                <td>@String.Format("{0:0,0}", tongTien) VNĐ</td>
            </tr>
        }
    </table>
    <div>Tổng tiền hóa đơn: @String.Format("{0:0,0}", tongTienThanhToan) VNĐ</div>
    <div><a href="~/HoaDon/xacnhanmuahang">Thanh toán</a></div>
</body>
</html>
